@media (min-width: 746px) {
	.header{
	margin-top: 50px;
}
.font-18.font-w{
	text-align: center;
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}
.change{
	text-align: center;
	width: 50%;
	margin: auto;
	padding-left: 0;
	padding-right: 60px;
	display: block;
}
.register {
    line-height: 0.35rem;
}
label{
	font-weight: 100;
}
.change .text{
	text-align: left;
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger:active:hover{
	color: #fff;
    background-color: #000;
    border-color: #000;
}
.item-1 input{
	width: 100%;
}
.display{
	display: none;
}

a.btn.disabled{
	cursor: not-allowed;
	pointer-events: auto;
}

}

/*小屏*/
@media (max-width: 747px) {
	.header{
	margin-top: 0.8rem;
}
.agreement-item{
	display: none;
}
.font-18.font-w{
	text-align: center;
	display: block;
	margin-top:0.8rem;
	margin-bottom: 0.8rem;
	font-size: 0.18rem;
}
.change{
	text-align: center;
	width: 50%;
	margin: auto;
	display: block;
}
label{
	font-weight: 100;
}
.change .text{
	text-align: left;
	font-size: 0.14rem;
}
label {
    margin-bottom: 0.05rem;
}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger:active:hover{
	color: #fff;
    background-color: #000;
    border-color: #000;
}
.item-1 input{
	width: 97%;
}
.display{
	display: none;
}

a.btn.disabled{
	cursor: not-allowed;
	pointer-events: auto;
}
.slider{
	display: none;
}
}
.container {
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}
.item-1.font-14{
	overflow: hidden;
}
#slider1{
	width: 100%!important;
}
.ui-slider-wrap,.ui-slider-text.ui-slider-no-select,.ui-slider-bg{
	width: 100%!important;
}
.ui-slider-btn.init.ui-slider-no-select.success{
	left: 93.3%!important;
}