.y-left
  float left

.y-right
  float right!important

.ul-nav
  display inline-block

.clearfix
  overflow: hidden
  &:before,:after
    content " "
    display inline-block
    height 0
    clear both
    visibility hidden

.container
  width: 1200px
  margin: 0 auto

body
  font-family: 'Microsoft YaHei'
  background-color: #f9f9f9